jaqVideoConverter/app/fonts/arial_pandoge_com.zip
jaqVideoConverter/app/img/design.png


geanytool/app/data/
geanytool/app/appsettings.json

amarket/offline/64-qt-js-webview-offline-installer--u18.04-qt5.2.1-r00/app/data/

jaqMySqlClient/app/p/q/custom.php


qdjsFM/sh/ls.sh
qdjsFM/sh/lsh.sh
qdjsFM/sh/lsh/lsh.inp
qdjsFM/sh/lsh/lsh.out
qdjsFM/sh/o.sh
