[Desktop Entry]
Version=1.0
Type=Application
Name=AiSearch
Comment=
Exec=/opt/qt-desktop-js/apps/AiSearch3/AiSearch.sh
Icon=/opt/qt-desktop-js/apps/AiSearch3/app/i/icons/32.png
Path=/opt/qt-desktop-js/apps/AiSearch3
Categories=Accesories;
Terminal=false
StartupNotify=false
Name[ru]=AiSearch3
Name[en]=AiSearch
