[Desktop Entry]
Version=1.0
Type=Application
Name=AlarmClock
Comment=Automatical Audio Recorder for Radio Mayak
Exec=/home/andrey/hdata/programs/my/qdjs/a-r-r-m/a-r-r-m.sh
Icon=/home/andrey/hdata/programs/my/qdjs/a-r-r-m//app/i/icons/48.png
Path=/home/andrey/hdata/programs/my/qdjs/a-r-r-m/
Categories=AudioVideo;
Terminal=false
StartupNotify=false
Name[ru]=Автоматический аудио рекордер для радио Маяк
Name[en]=Audio Recorder for Radio Mayak
