#settingsDlgView {
	position:absolute;
	z-index:1001;
	width:530px;
	height:420px;
	
	/*top:24px;
	left:550px;*/
}

.dlgbox {
	background-color:#eee;
	border: solid black 1.8px;
	border-radius: 5px;
	box-shadow: 2px 4px 9px 6px rgba(127,127,127,0.7);
}

.dlgtitlebg {
	height:52px;
	background-image: url(../../../../../img/dlg/title-bg.png);
	background-position-x: 21px;
	background-repeat: no-repeat;
	position:relative;
}
.dlgclosebtn {
	width: 14px;
	height: 14px;
	opacity: 0;
	background-color: #40f;
	cursor: pointer;
	right: 16px;
	top: 18px;
	position: absolute;
}

.dlgtitle  {
	color:#878787;
	text-align:center;
	line-height:52px;
	vertical-align:middle;
}

.dlgcontentbox {
	height:262px;
	background-color:#f7f7f7;
	border: solid #ccc 1.8px;
	width:514px;
	margin:auto;
}

.dlgfooterbox {
	min-height:68px; /*84*/
}
.bsettingsDlgOk {
	background-image: url(../../../../../img/dlg/button-bg.png);
	height:47px;
	width:138px;
	margin:17px auto;
	cursor:pointer;
	
	color:white;
	line-height:47px;
	vertical-align:middle;
	text-align:center;
	font-size: 16px;
}

.hAfterConvertSubtitle {
	font-weight:bold;
	text-align:center;
	font-size: 1.2em;
}
