[Desktop Entry]
Version=1.0
Type=Application
Name=XpLogonJoke
Comment=
Exec=/opt/qt-desktop-js/apps/QdjsWinXpLogon/QdjsWinXpLogon.sh
Icon=/opt/qt-desktop-js/apps/QdjsWinXpLogon/app/i/icons/32.png
Path=/opt/qt-desktop-js/apps/QdjsWinXpLogon
Categories={{category}};
Terminal=false
StartupNotify=false
Name[ru]=XpLogon - шутки
Name[en]=XpLogonJoke
