body {
    padding: 0px;
    margin:0px;
}

.tr, .text-right {
    text-align: right;
}

input[type=text],input[type=password], input[type=number] {
    min-height:32px;
    font-size: 20px;
}

#entityFolder, #realEntityFolder {
	width: 700px;
}
.wBorder {
	margin:4px;
	padding: 4px;
}

#hLabelEntityCatalog, #hLabelCatalog, #hLabelSrvCatalog {
	min-width:200px;
	display:inline-block;
}
