@font-face {
  font-family: 'arial';
  src: url('../fonts/arial.ttf') format('truetype');
}

@font-face {
  font-family: 'arialbd';
  src: url('../fonts/arialbd.ttf') format('truetype');
}

body {
    max-height:100%;
    overflow:hidden;
}
html, body {
    max-height:100%;
}

.hConfigServerParamsBody  label {
    display:block;
}
.hConfigServerParamsBody  input[type=text],
    .hConfigServerParamsBody  input[type=password],
    .hConfigServerParamsBody  input[type=number]
    {
    width: 100%;
}

.hConfigServerParamsBody {
    padding: 10px 8px;
}

.statusText {
	text-align:right;
	vertical-align: bottom;
	line-height: 24px;
	font-family:arial
}

.pointer {
	cursor:url('../i/pointer.png'), auto;
}
