[Desktop Entry]
Version=1.0
Type=Application
Name=MoonPhase
Exec=/home/andrey/hdata/programs/my/qdjs/jaqVideoConverterOop/jaqVC.sh
Icon=/home/andrey/hdata/programs/my/qdjs/jaqVideoConverterOop/app/img/ffmpeg60.png
Path=/home/andrey/hdata/programs/my/qdjs/jaqVideoConverterOop/
Terminal=false
StartupNotify=false
Name[ru]=JaqFFMPEGConverter
Name[en]=JaqFFMPEGConverter
Categories=AudioVideo;
