[Desktop Entry]
Version=1.0
Type=Application
Name=MoonPhase
Exec=/home/andrey/hdata/programs/my/qdjs/jaqVideoConverterOop/jaqVC.sh
Icon=/home/andrey/hdata/programs/my/qdjs/jaqVideoConverterOop/iconraw.png
Path=/home/andrey/hdata/programs/my/qdjs/jaqVideoConverterOop
Categories=AudioVideo;Game;
Terminal=false
StartupNotify=false
Name[ru]=VideoConvererOop
GenericName=VideoConvererOop
